<dx-load-panel [visible]="true" *ngIf="isLoading" [showPane]="false"></dx-load-panel>
<dx-load-panel *ngIf="isProcessing"
               [visible]="true" [showPane]="false"
               [message]="'Processing'">
</dx-load-panel>

<div class="form-wrapper">
  <dx-scroll-view [showScrollbar]="'onScroll'" class="scrolling mt-2">
    <dx-validation-group #validationGroup>
      <div class="form-group mt-2">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="field row-layout enter">
              <div class="field-label">Họ và tên:</div>
              <dx-text-box class="field-value w-100" [(value)]="leaguer.name" [valueChangeEvent]="'keyup'">
                <dx-validator>
                  <dxi-validation-rule type="required"
                                       [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('Họ và tên')"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
            <div class="field row-layout enter">
              <dx-select-box [dataSource]="units" class="field-value w-100"
                             displayExpr="value"
                             valueExpr="key"
                             placeholder="Ông/Bà"
                             noDataText=""
                             [(value)]="leaguer.unitId"
                             [valueChangeEvent]="'input'">
                <dx-validator>
                  <dxi-validation-rule type="required"
                                       [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('Chi bộ')"></dxi-validation-rule>
                </dx-validator>
              </dx-select-box>
            </div>
          </div>
          <!--year of birth-->
          <div class="col-12 col-lg-6">
            <div class="field row-layout enter">
              <div class="field-label">Năm sinh:</div>
              <dx-number-box class="field-value w-100" [(value)]="leaguer.bornYear"
                             [valueChangeEvent]="'keyup'"></dx-number-box>
            </div>
          </div>
          <!--gender-->
          <div class="col-12 col-lg-4">
            <div class="field row-layout enter">
              <div class="field-label">Giới tính:</div>
              <dx-select-box [dataSource]="GENDER_ITEMS" class="field-label"
                             valueExpr="value" displayExpr="text" placeholder="Chọn..."
                             [(value)]="leaguer.gender"></dx-select-box>
            </div>
          </div>
          <!--religion-->
          <div class="col-12 col-lg-4">
            <div class="field row-layout">
              <div class="field-label">Tôn giáo:</div>
              <dx-text-box class="field-value w-100" [(value)]="leaguer.religion"
                           [valueChangeEvent]="'keyup'"></dx-text-box>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="field row-layout">
              <div class="field-label">Dân tộc:</div>
              <dx-text-box class="field-value w-100" [(value)]="leaguer.folk"
                           [valueChangeEvent]="'keyup'"></dx-text-box>
            </div>
          </div>
          <!--phone-->
          <div class="col-12 col-lg-6">
            <div class="field row-layout enter">
              <div class="field-label">Điện thoại:</div>
              <dx-number-box class="field-value w-100" [(value)]="leaguer.phone"
                           [tabIndex]="18" [valueChangeEvent]="'keyup'"></dx-number-box>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-end align-items-center">
            <dx-button class="mr-2" type="default" [tabIndex]="25"
                       [text]="isProcessing ? '' : 'Lưu'"
                       icon="{{isProcessing?'fas fa-spinner fa-spin':''}}"
                       (onClick)="save(validationGroup)" [disabled]="isProcessing"></dx-button>
            <dx-button text="Hủy" (onClick)="refresh()"></dx-button>
          </div>
        </div>
      </div>
    </dx-validation-group>
  </dx-scroll-view>
</div>
