//.scrolling {
//  height: calc(100vh - 168px);
//}

.upload {
  text-decoration: none;
  cursor: pointer;
}

.user-avatar-zone {
  justify-content: center;
  align-items: center;
  display: flex;

  .img-circle {
    border-radius: 50%;

    &.profile-user-img {
      display: block;
      margin: 0 auto;
      width: 180px;
      height: 180px;

      > img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      > .default-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .button-section {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    font-size: 14px;
    text-align: center;
    z-index: 200;

    > span {
      > i {
        padding: 4px;
        border-radius: 4px;
        background-color: #000000;
        color: #fff;
        width: 35px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  > input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
