@import "variables";
@import "mixins";

:host {
  @include flexbox();
  @include flex-direction(column);
  min-height: 100%;
  height: 100%;
  width: 265px !important;
  background-color: #e0e0e0;

  .menu-container {
    min-height: 100%;
    flex: 1;
    color: #333;
    background: linear-gradient(350deg,#247096 0,#008c7e 98%);

    .user-panel {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .user-info {
        display: flex;
        align-items: center;

        .image-container {
          overflow: hidden;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          margin: 0 4px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

          .user-image {
            width: 100%;
            height: 100%;
            background-size: cover;

            img {
              display: inline-block;
              width: 100%;
            }

            .name-avatar {
              display: inline-block;
              width: 100%;
              height: 100%;
              line-height: 27px;
              font-size: 1rem;
              text-align: center !important;
            }
          }
        }

        .user-name {
          font-size: 14px;
          color: $base-text-color;
        }
      }
    }

    ::ng-deep .dx-treeview {
      // ## Long text positioning
      white-space: nowrap;
      color: #ffffff;

      // ## Icon width customization
      .dx-treeview-item {
        padding: 15px 0;

        .dx-icon {
          width: $side-panel-min-width !important;
          margin: 0 !important;
        }
      }

      .dx-treeview-toggle-item-visibility {
        top: 10px;
      }

      // ## Arrow customization
      .dx-treeview-node {
        padding: 0 0 !important;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
      }

      // ## Item levels customization
      .dx-treeview-node {
        &[aria-level='1'] {
          border-bottom: 1px solid;
          -o-border-image: linear-gradient(115deg,#0f8385,rgba(255,193,7,.5)) 1;
          border-image: linear-gradient(115deg,#0f8385,rgba(255,193,7,.5)) 1;
          border-left: 0;
        }

        &[aria-level='2'] .dx-treeview-item-content {
          font-weight: normal;
          padding: 0 30px;
        }
      }
    }

    // ## Selected & Focuced items customization
    ::ng-deep .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node {

          .dx-item-content {
            span {
              white-space: normal;
              display: block;
              word-wrap: break-word;

              font-size: 18px;
              margin-left: 18px;
            }
          }

          .dx-treeview-item {
            border-bottom: 1px solid;
            -o-border-image: linear-gradient(-90deg,#0f8385,rgba(255,193,7,.5)) 1;
            border-image: linear-gradient(-90deg,#0f8385,rgba(255,193,7,.5)) 1;
            border-left: 0;
          }

          &.dx-state-selected:not(.dx-state-focused) > .dx-treeview-item {
            //background: transparent;
            background-color: rgba(23,50,64,.5);
          }

          &.dx-state-selected > .dx-treeview-item * {
            color: #FFFFFF;
          }

          &:not(.dx-state-focused) > .dx-treeview-item.dx-state-hover {
            //background-color: lighten($base-bg, 4.00);
            background-color: $main-hover-color;
          }
        }
      }
    }

    :host-context(.dx-theme-generic) ::ng-deep.dx-treeview {
      .dx-treeview-node-container .dx-treeview-node.dx-state-selected.dx-state-focused > .dx-treeview-item * {
        color: inherit;
      }
    }
  }

  @media(min-width: 768px) {
    .user-panel {
      display: none !important;
    }
  }
}
