<!--<div class="menu-container">-->
<!--  <dx-scroll-view class="nav-menu-wrap"-->
<!--                  [useNative]="isUseNative"-->
<!--                  scrollByContent="true"-->
<!--                  scrollByThumb="true">-->
<!--    <div class="user-panel" *ngIf="currentUser">-->
<!--      <div class="user-info">-->
<!--        &lt;!&ndash;        <div class="image-container">&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="user-image">&ndash;&gt;-->
<!--        &lt;!&ndash;            <ng-container *ngIf="currentUser.avatarImg">&ndash;&gt;-->
<!--        &lt;!&ndash;              <img src="{{currentUser.avatarImg}}" alt="avatar">&ndash;&gt;-->
<!--        &lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--        &lt;!&ndash;            <ng-container *ngIf="!currentUser.avatarImg">&ndash;&gt;-->
<!--        &lt;!&ndash;              <div class="name-avatar">{{currentUser.nameAvatar}}</div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="user-name">{{currentUser.name}}</div>-->
<!--      </div>-->
<!--      <div class="cursor-pointer log-out" title="Log out" (click)="logOut()"><i class="fas fa-sign-out-alt"></i></div>-->
<!--    </div>-->

<!--    <dx-tree-view width="100%"-->
<!--                  [items]="items"-->
<!--                  keyExpr="path"-->
<!--                  selectionMode="single"-->
<!--                  expandEvent="click"-->
<!--                  [selectByClick]="true"-->
<!--                  (onInitialized)="onMenuInitialized($event)"-->
<!--                  (onItemClick)="onItemClick($event)"-->
<!--                  (onContentReady)="updateSelection($event)"-->
<!--                  (onSelectionChanged)="updateSelection($event)">-->
<!--    </dx-tree-view>-->
<!--  </dx-scroll-view>-->
<!--</div>-->
