<dx-load-panel [visible]="true" *ngIf="isLoading" [showPane]="false"></dx-load-panel>
<dx-load-panel *ngIf="isProcessing"
               [visible]="true" [showPane]="false"
               [message]="'Processing'">
</dx-load-panel>

<div class="col-12">
  <dx-data-grid
    width="100%"
    keyExpr="id"
    noDataText="Không có dữ liệu"
    [class.loading]="!dataSource.isLoaded()"
    [dataSource]="dataSource"
    [showRowLines]="true"
    [showColumnLines]="true"
    [showBorders]="true"
    [hoverStateEnabled]="true"
    [columnResizingMode]="'widget'"
    [allowColumnResizing]="true"
    [rowAlternationEnabled]="true"
    (onContentReady)="contentReady($event)"
    (onSelectionChanged)="selectionChanged($event)"
    (onRowDblClick)="goToDetail($event.data)">
    <dxo-filter-row [visible]="true" [showOperationChooser]="true"></dxo-filter-row>
    <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true"></dxo-remote-operations>
    <dxo-paging [pageSize]="pageSize"></dxo-paging>
    <dxo-pager [showInfo]="false"
               [allowedPageSizes]="[20, 50]"
               [showPageSizeSelector]="true"
               [visible]="true"
               [showNavigationButtons]="true">
    </dxo-pager>
    <dxo-editing mode="form">
      <dxo-texts saveRowChanges="Save"
                 editRow="Edit"
                 deleteRow="Delete"
                 cancelRowChanges="Cancel">
      </dxo-texts>
    </dxo-editing>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>

    <dxi-column caption="STT"
                alignment="center"
                [allowFiltering]="false"
                [allowEditing]="false"
                [allowSorting]="false"
                [allowResizing]="false"
                [formItem]="{visible: false}"
                [width]="80"
                [fixed]="true"
                headerCellTemplate="indexHeaderCellTemplate"
                cellTemplate="indexCellTemplate">
      <div *dxTemplate="let row of 'indexHeaderCellTemplate'">
        <dx-button type="default" icon="plus" class="btn-add-row-circle"
                   [stylingMode]="'outlined'"
                   hint="Add Row"
                   (onClick)="onShowAddingPopup()">
        </dx-button>
      </div>
      <div *dxTemplate="let cell of 'indexCellTemplate'">
        <ng-container>
          {{cell.rowIndex + 1}}
        </ng-container>
      </div>
    </dxi-column>

    <dxi-column dataField="unitId" caption="Chi bộ"
                [width]="150">
      <dxo-lookup
        [dataSource]="units"
        displayExpr="value"
        valueExpr="key">
      </dxo-lookup>
    </dxi-column>

    <dxi-column dataField="name" caption="Họ và tên" [minWidth]="150"></dxi-column>

    <dxi-column dataField="bornYear" caption="Năm sinh" [width]="80" alignment="center"></dxi-column>

    <dxi-column dataField="gender" caption="Giới tính" [width]="80" alignment="center">
      <dxo-lookup
        [dataSource]="genderItems"
        displayExpr="text"
        valueExpr="value">
      </dxo-lookup>
    </dxi-column>

    <dxi-column dataField="phone" caption="Điện thoại" [width]="95" alignment="center"></dxi-column>

    <dxi-column dataField="religion" caption="Tôn giáo" [width]="90" alignment="center"></dxi-column>

    <dxi-column dataField="folk" caption="Dân tộc" [width]="90" alignment="center"></dxi-column>

    <dxi-column dataField="homeTown" caption="Quê quán" [minWidth]="150"></dxi-column>

    <dxi-column dataField="position" caption="Chức vụ" [width]="100"></dxi-column>

    <dxi-column caption="Ngày vào Đảng" alignment="center">
      <dxi-column dataField="preliminaryApplyDate" caption="Dự bị" [width]="110"></dxi-column>
      <dxi-column dataField="officialApplyDate" caption="Chính thức" [width]="110"></dxi-column>
    </dxi-column>

    <dxi-column dataField="cardNumber" caption="Số thẻ Đảng" [width]="125"></dxi-column>

    <dxi-column dataField="backgroundNumber" caption="Số lý lịch Đảng" [width]="125"></dxi-column>

    <dxi-column dataField="badgeNumber" caption="Số huy hiệu Đảng" [width]="135"></dxi-column>

    <dxi-column dataField="statusId" caption="Tình trạng" alignment="center"
                [minWidth]="120" [width]="120">
      <dxo-lookup
        [dataSource]="statuses"
        displayExpr="value"
        valueExpr="key">
      </dxo-lookup>
    </dxi-column>

    <dxi-column caption="Thao tác"
                type="'buttons'"
                alignment="center"
                [fixed]="true"
                fixedPosition="right"
                [width]="120"
                [allowFiltering]="false"
                [allowSorting]="false"
                [allowResizing]="false"
                [allowEditing]="false"
                headerCellTemplate="headerActionsCellTemplate"
                cellTemplate="actionsCellTemplate">
      <div *dxTemplate="let cell of 'headerActionsCellTemplate'">
        <i class="fas fa-file-download" title="Xuất Excel"
           (click)="exportExcel()"></i>
      </div>
      <div *dxTemplate="let cell of 'actionsCellTemplate'">
        <div class="action-inline text-center">
          <i class="fas fa-sort-amount-up" title="Công nhận chính thức"
             *ngIf="cell.data.statusId === AppLeaguerStatus.Preliminary"
             (click)="onShowTransferPopup(cell.data)"></i>
          <i class="fas fa-sign-out-alt" title="Ra khỏi Đảng"
             *ngIf="cell.data.statusId !== AppLeaguerStatus.GetOut"
             (click)="showConfirmOutPopup(cell.data)"></i>
          <i class="fas fa-pencil-alt" title="Sửa" (click)="goToDetail(cell.data)"></i>
          <i class="far fa-trash-alt" title="Xóa" (click)="openDeletingConfirmPopup(cell.data, $event)"></i>
        </div>
      </div>
    </dxi-column>

    <dxo-selection mode="single"></dxo-selection>
    <dxo-master-detail [enabled]="false" template="detail"></dxo-master-detail>
    <div *dxTemplate="let item of 'detail'" class="container-fluid form-wrapper">
      <div class="form-group">
        <div class="row">
          <div class="col-12 col-lg-3 user-avatar-zone">
            <div class="img-circle profile-user-img">
              <img *ngIf="item.data.avatarImg"
                   [src]="item.data.avatarImg"
                   title="{{item.data.name}}"
                   alt="{{item.data.name}}">
              <div *ngIf="!item.data.avatarImg"
                   class="default-img">{{item.data.name}}</div>
            </div>
          </div>
          <div class="col-12 col-lg-9">
            <div class="row">
              <div class="col-12 col-lg-4">
                <p>Trình độ lý luận chính trị: {{item.data.politicalTheoryLevel}}</p>
                <p>Nghiệp vụ chuyên môn: {{item.data.specializeMajor}}</p>
                <p>Nghề nghiệp hiện nay: {{item.data.currentCareer}}</p>
                <p>Nghề nghiệp trước khi vào Đảng: {{item.data.beforeEnteringCareer}}</p>
              </div>
              <div class="col-12 col-lg-4">
                <p>Ngày chuyển đi: {{item.data.moveOutDated}}</p>
                <p>Ngày chuyển đến: {{item.data.moveInDated}}</p>
                <p>Trình độ văn hóa: {{item.data.educationalLevel}}</p>
                <p>Trình độ ngoại ngữ: {{item.data.foreignLanguageLevel}}</p>
              </div>
              <div class="col-12 col-lg-4">
                <p>Đến Đảng bộ cơ sở: {{item.data.officeBefore}}</p>
                <p>Ở Đảng bộ cơ sở: {{item.data.officeComing}}</p>
                <p>Ngày ra khỏi Đảng: {{item.data.getOutDate || 'Chưa'}}</p>
                <p>Hình thức ra khỏi Đảng: {{item.data.formOut || 'Chưa'}}</p>
              </div>
              <div class="col-12">
                <p>Ghi chú: {{!item.data.notes ? 'Không có' : item.data.notes}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </dx-data-grid>
</div>

<app-popover-confirm-box #deletingConfirmBox
                         [message]="GENERAL_MESSAGE.DeleteRecordConfirmQuestion.format('Đảng viên', selectedLeaguer.name)"
                         (onConfirm)="onDelete()">
</app-popover-confirm-box>

<app-popup-container *ngIf="isShowEditingPopup"
                     title="Thêm mới Đảng viên"
                     [width]="550"
                     [height]="'auto'"
                     [(visible)]="isShowEditingPopup">
  <app-leaguer-adding [(visible)]="isShowEditingPopup"
                      [selectedLeaguer]="selectedLeaguer"
                      [units]="units" [currentUnitId]="loggedUser.unitId"
                      [isProcessing]="isProcessing"
                      (onEditingChange)="onSave($event)">
  </app-leaguer-adding>
</app-popup-container>

<app-popup-container *ngIf="isShowTransferringPopup"
                     title="Hồ sơ đề nghị công nhận Đảng viên chính thức"
                     [width]="'80%'"
                     [height]="'auto'"
                     [(visible)]="isShowTransferringPopup">
  <app-leaguer-transfer-offical [(visible)]="isShowTransferringPopup"
                                [selectedLeaguer]="selectedLeaguer"
                                (onHidden)="onCancelTransferring()">
  </app-leaguer-transfer-offical>
</app-popup-container>

<app-popup-container *ngIf="isShowOutConfirmPopup"
                     title="Xác nhận Ra khỏi Đảng?"
                     [width]="450"
                     [height]="'auto'"
                     [(visible)]="isShowOutConfirmPopup">
  <app-yes-no-confirm (onConfirmed)="changeToOut()"
                      (onCanceled)="isShowOutConfirmPopup = false"
                      [modelName]="'Đảng viên ' + selectedLeaguer.name"
                      [question]="'Chắc chắn chuyển Ra khỏi Đảng'"
  ></app-yes-no-confirm>
</app-popup-container>
