<dx-load-panel [visible]="true" *ngIf="isLoading" [showPane]="false"></dx-load-panel>
<dx-load-panel *ngIf="isProcessing"
               [visible]="true" [showPane]="false"
               [message]="'Processing'">
</dx-load-panel>

<div class="col-12">
  <dx-data-grid
    width="100%"
    class="settings-grid"
    keyExpr="id"
    noDataText="Không có dữ liệu"
    [class.loading]="!dataSource.isLoaded()"
    [dataSource]="dataSource"
    [showRowLines]="true"
    [showColumnLines]="true"
    [showBorders]="true"
    [hoverStateEnabled]="true"
    [columnResizingMode]="'widget'"
    [allowColumnResizing]="true"
    [rowAlternationEnabled]="true"
    [masterDetail]="{ enabled: false, template: 'detail' }"
    (onContentReady)="contentReady($event)"
    (onSelectionChanged)="selectionChanged($event)">
    <dxo-filter-row [visible]="true" [showOperationChooser]="true"></dxo-filter-row>
    <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true"></dxo-remote-operations>
    <dxo-paging [pageSize]="pageSize"></dxo-paging>
    <dxo-pager [showInfo]="false"
               [showPageSizeSelector]="false"
               [visible]="true"
               [showNavigationButtons]="true">
    </dxo-pager>
    <dxo-editing mode="form">
      <dxo-texts saveRowChanges="Save"
                 editRow="Edit"
                 deleteRow="Delete"
                 cancelRowChanges="Cancel">
      </dxo-texts>
    </dxo-editing>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>

    <dxi-column caption="STT"
                alignment="center"
                [allowFiltering]="false"
                [allowEditing]="false"
                [allowSorting]="false"
                [allowResizing]="false"
                [formItem]="{visible: false}"
                [width]="80"
                [fixed]="true"
                headerCellTemplate="indexHeaderCellTemplate"
                cellTemplate="indexCellTemplate">
      <div *dxTemplate="let row of 'indexHeaderCellTemplate'">
        <dx-button type="default" icon="plus" class="btn-add-row-circle"
                   [stylingMode]="'outlined'"
                   hint="Add Row"
                   (onClick)="onShowEditingPopup(row.data)">
        </dx-button>
      </div>
      <div *dxTemplate="let cell of 'indexCellTemplate'">
        <ng-container>
          {{cell.rowIndex + 1}}
        </ng-container>
      </div>
    </dxi-column>

    <dxi-column dataField="unitId" caption="Chi bộ"
                [width]="150">
      <dxo-lookup
        [dataSource]="units"
        displayExpr="value"
        valueExpr="key">
      </dxo-lookup>
    </dxi-column>

    <dxi-column dataField="name" caption="Họ và tên" [minWidth]="150"></dxi-column>

    <dxi-column dataField="bornYear" caption="Năm sinh" [width]="80" alignment="center"></dxi-column>

    <dxi-column dataField="gender" caption="Giới tính" [width]="80" alignment="center">
      <dxo-lookup
        [dataSource]="genderItems"
        displayExpr="text"
        valueExpr="value">
      </dxo-lookup>
    </dxi-column>

    <dxi-column dataField="religion" caption="Tôn giáo" [width]="90" alignment="center"></dxi-column>

    <dxi-column dataField="folk" caption="Dân tộc" [width]="90" alignment="center"></dxi-column>

    <dxi-column dataField="homeTown" caption="Quê quán" [minWidth]="150"></dxi-column>

    <dxi-column dataField="position" caption="Chức vụ" [width]="100"></dxi-column>

    <dxi-column caption="Ngày vào Đảng" alignment="center">
      <dxi-column dataField="preliminaryApplyDate" caption="Dự bị" [width]="110"></dxi-column>
      <dxi-column dataField="officialApplyDate" caption="Chính thức" [width]="110"></dxi-column>
    </dxi-column>

    <dxi-column dataField="cardNumber" caption="Số thẻ Đảng" [width]="125"></dxi-column>

    <dxi-column dataField="backgroundNumber" caption="Số lý lịch Đảng" [width]="125"></dxi-column>

    <dxi-column dataField="badgeNumber" caption="Số huy hiệu Đảng" [width]="135"></dxi-column>

    <!--      <dxi-column dataField="moveOutDated" caption="Ngày chuyển đi, đến Đảng bộ cơ sở" dataType="date" [minWidth]="110"-->
    <!--                  cellTemplate="'moveOutCellTemplate'" [allowFiltering]="false">-->
    <!--        <div *dxTemplate="let cell of 'moveOutCellTemplate'">-->
    <!--          {{cell.data.moveOutDated}}, đến {{cell.data.officeBefore}}-->
    <!--        </div>-->
    <!--      </dxi-column>-->

    <!--      <dxi-column dataField="officeComing" caption="Ngày chuyển đến, ở Đảng bộ cơ sở" [minWidth]="120"-->
    <!--                  cellTemplate="'moveInCellTemplate'">-->
    <!--        <div *dxTemplate="let cell of 'moveInCellTemplate'">-->
    <!--          {{cell.data.moveInDated}}, ở {{cell.data.officeComing}}-->
    <!--        </div>-->
    <!--      </dxi-column>-->

    <!--      <dxi-column dataField="deadDate" caption="Ngày từ trần" dataType="date" format="dd/MM/yyyy" [minWidth]="110">-->
    <!--      </dxi-column>-->

    <!--      <dxi-column dataField="getOutDate" caption="Ngày ra khỏi Đảng" dataType="date" format="dd/MM/yyyy"-->
    <!--                  [minWidth]="110"></dxi-column>-->

    <dxi-column caption="Thao tác"
                type="'buttons'"
                alignment="center"
                [fixed]="true"
                fixedPosition="right"
                [width]="80"
                [allowFiltering]="false"
                [allowSorting]="false"
                [allowResizing]="false"
                [allowEditing]="false"
                cellTemplate="actionsCellTemplate">
      <div *dxTemplate="let cell of 'actionsCellTemplate'">
        <div class="action-inline text-center">
          <i class="fas fa-info-circle" title="Thông tin"
             (click)="goToDetail(cell.data)"></i>
        </div>
      </div>
    </dxi-column>

    <div *dxTemplate="let item of 'detail'">
      <div class="row">
        <p>Điện thoại: {{item.data.phone}}</p>
        <div class="col-6">
          <p>Ngày chuuyển đi: {{item.data.moveOutDated}}</p>
          <p>Ngày chuuyển đến: {{item.data.moveInDated}}</p>
          <p>Trình độ văn hóa: {{item.data.educationalLevel}}</p>
          <p>Trình độ ngoại ngữ: {{item.data.foreignLanguageLevel}}</p>
          <p>Nghề nghiệp trước khi vào Đảng: {{item.data.beforeEnteringCareer}}</p>
        </div>
        <div class="col-6">
          <p>Đến Đảng bộ cơ sở: {{item.data.officeBefore}}</p>
          <p>Ở Đảng bộ cơ sở: {{item.data.officeComing}}</p>
          <p>Trình độ lý luận chính trị: {{item.data.politicalTheoryLevel}}</p>
          <p>Nghiệp vụ chuyên môn: {{item.data.specializeMajor}}</p>
          <p>Nghề nghiệp hiện nay: {{item.data.currentCareer}}</p>
        </div>
        <p>Ngày từ trần: {{item.data.deadDate}}</p>
        <p>Lý do từ trần: {{item.data.formOut || 'Chưa'}}</p>
        <p>Ngày ra khỏi Đảng: {{item.data.getOutDate}}</p>
        <p>Hình thức ra khỏi Đảng: {{item.data.formOut || 'Chưa'}}</p>
        <p>Ghi chú: {{!item.data.notes ? 'Không có' : item.data.notes}}</p>
      </div>
    </div>

  </dx-data-grid>
</div>

<app-popup-container *ngIf="isShowEditingPopup"
                     title="Thêm mới Đảng viên"
                     [width]="550"
                     [height]="'auto'"
                     [(visible)]="isShowEditingPopup">
  <app-leaguer-adding [(visible)]="isShowEditingPopup"
                      [selectedLeaguer]="selectedLeaguer"
                      [units]="units"
                      [isProcessing]="isProcessing"
                      (onEditingChange)="onSave($event)">
  </app-leaguer-adding>
</app-popup-container>
