//
// App
$side-panel-min-width: 60px;
$card-shadow: rgba(63, 63, 63, 0.14) 0px 1px 3px 0px, rgba(63, 63, 63, 0.15) 0px 1px 2px 0.5px;
$main-dark-color: #1a5aa2;
//
// Hover
$main-hover-color: #00B2AB;
$bg-header: #e8e8e8;

//
// Devextreme
$base-accent: rgba(0, 163, 156, 1);
$base-text-color: rgba(51, 51, 51, 1);
$base-bg: rgba(255, 255, 255, 1);
$base-border-color: rgba(221, 221, 221, 1);
$base-success: rgba(92, 184, 92, 1);
$base-warning: rgba(240, 173, 78, 1);
$base-danger: rgba(217, 83, 79, 1);
$base-border-radius: 2px;
$base-button-color: #fff;
