<app-layout-default>
  <dx-load-panel [visible]="true" *ngIf="isLoading" [showPane]="false"></dx-load-panel>
  <dx-load-panel *ngIf="isProcessing"
                 [visible]="true" [showPane]="false"
                 [message]="'Processing'">
  </dx-load-panel>

  <div class="d-flex justify-content-start align-items-center flex-column w-50 m-auto">

    <div class="d-flex mb-2">
      <h4 class="m-0">Năm thống kê/tổng hợp:</h4>
      <dx-select-box [dataSource]="years" class="ml-2"
                     displayExpr="value"
                     valueExpr="value"
                     placeholder="Chọn năm"
                     noDataText=""
                     [(value)]="selectedYear"
                     [valueChangeEvent]="'input'">
      </dx-select-box>
    </div>

    <div class="d-flex justify-content-start align-items-center mb-2 mr-auto">
      <h5 class="m-0">1. Kết quả đánh giá phân loại đảng viên</h5>
      <dx-button type="default" [text]="isProcessing ? '' : 'Tổng hợp'"
                 class="ml-2" (onClick)="export5BTC()" [disabled]="isProcessing"></dx-button>
    </div>

    <div class="d-flex justify-content-start align-items-center mb-2 mr-auto">
      <h5 class="m-0">2. Chia theo dân tộc và tôn giáo</h5>
      <dx-button type="default" [text]="isProcessing ? '' : 'Thống kê'"
                 class="ml-2" (onClick)="export4TW()" [disabled]="isProcessing"></dx-button>
    </div>

  </div>


</app-layout-default>
