<div class="form-wrapper">
  <dx-validation-group #validationGroup>
    <div class="field">
      <span class="field-label">{{fieldLabel}} <span class="lbl-required">*</span></span>
      <div class="field-value">
        <dx-text-box #nameBox [(value)]="model.name" [maxLength]="255" (onEnterKey)="onSave()">
          <dx-validator>
            <dxi-validation-rule type="required"
                                 [message]="GENERAL_MESSAGE.TheFieldIsRequired.format(fieldLabel)"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="field-action">
      <dx-button class="mr-2" type="default"
                 [text]="isProcessing ? '' : 'Lưu'"
                 icon="{{isProcessing?'fas fa-spinner fa-spin':''}}"
                 (onClick)="onSave()" [disabled]="isProcessing"></dx-button>
      <dx-button text="Hủy" (onClick)="onCancel()"></dx-button>
    </div>
  </dx-validation-group>
</div>
