<div class="form-wrapper">
  <dx-validation-group #validationGroup>
    <div class="field">
      <span class="field-label">Tên <span class="lbl-required">*</span></span>
      <div class="field-value">
        <dx-text-box [(value)]="user.name" [maxLength]="255">
          <dx-validator>
            <dxi-validation-rule type="required"
                                 [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('Tên')"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="field">
      <span class="field-label">Email <span class="lbl-required">*</span></span>
      <div class="field-value">
        <dx-text-box [(value)]="user.email" [maxLength]="255">
          <dx-validator>
            <dxi-validation-rule type="required"
                                 [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('Email')"></dxi-validation-rule>
            <dxi-validation-rule type="email"
                                 [message]="GENERAL_MESSAGE.TheFieldIsInvalid.format('Email')">
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="field" *ngIf="!user.id || user.id <= 0">
      <span class="field-label">Mật khẩu <span class="lbl-required">*</span></span>
      <div class="field-value">
        <dx-text-box [(value)]="user.password" [maxLength]="255" [ngClass]="'conceal-native'">
          <dx-validator>
            <dxi-validation-rule type="required"
                                 [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('Mật khẩu')"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="field">
      <span class="field-label">Chi bộ <span class="lbl-required">*</span></span>
      <div class="field-value">
        <dx-select-box [dataSource]="units"
                       valueExpr="key" displayExpr="value"
                       [(value)]="user.unitId">
          <dxi-validation-rule type="required"
                               [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('Chi bộ')"></dxi-validation-rule>
        </dx-select-box>
      </div>
    </div>
    <div class="field">
      <span class="field-label">Quyền hạn <span class="lbl-required">*</span></span>
      <div class="field-value">
        <dx-select-box [dataSource]="roles"
                       valueExpr="key" displayExpr="value"
                       [(value)]="user.roleId">
          <dxi-validation-rule type="required"
                               [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('Quyền')"></dxi-validation-rule>
        </dx-select-box>
      </div>
    </div>
    <div class="field-action">
      <dx-button class="mr-2" type="default"
                 [text]="isProcessing ? '' : 'Lưu'"
                 icon="{{isProcessing?'fas fa-spinner fa-spin':''}}"
                 (onClick)="onSave()" [disabled]="isProcessing"></dx-button>
      <dx-button text="Hủy" (onClick)="onCancel()"></dx-button>
    </div>
  </dx-validation-group>
</div>
