<dx-load-panel *ngIf="isProcessing"
               [visible]="true" [showPane]="false"
               [message]="'Processing'">
</dx-load-panel>

<ng-container>
  <div class="row">
    <div class="col-lg-6">
      <dx-data-grid
        class="settings-grid"
        keyExpr="id"
        [class.loading]="!roleDataSource.isLoaded()"
        [dataSource]="roleDataSource"
        [showRowLines]="true"
        [showColumnLines]="true"
        [showBorders]="true"
        [hoverStateEnabled]="true"
        [columnResizingMode]="'widget'"
        [allowColumnResizing]="true"
        [rowAlternationEnabled]="true">
        <dxo-filter-row [visible]="true" [showOperationChooser]="true"></dxo-filter-row>
        <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true"></dxo-remote-operations>
        <dxo-paging [pageSize]="pageSize"></dxo-paging>
        <dxo-pager [showInfo]="true"
                   [showPageSizeSelector]="false"
                   [visible]="true"
                   [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-editing mode="form">
          <dxo-texts saveRowChanges="Save"
                     editRow="Edit"
                     deleteRow="Delete"
                     cancelRowChanges="Cancel">
          </dxo-texts>
        </dxo-editing>
        <dxo-load-panel [showPane]="false"></dxo-load-panel>

        <dxi-column caption="STT"
                    alignment="center"
                    [allowFiltering]="false"
                    [allowEditing]="false"
                    [allowSorting]="false"
                    [allowResizing]="false"
                    [formItem]="{visible: false}"
                    [width]="80"
                    [fixed]="true"
                    headerCellTemplate="indexHeaderCellTemplate"
                    cellTemplate="indexCellTemplate">
          <div *dxTemplate="let row of 'indexHeaderCellTemplate'">
            <dx-button type="default" icon="plus" class="btn-add-row-circle"
                       [stylingMode]="'outlined'"
                       hint="Add Row"
                       (onClick)="onShowEditingPopup(row.data)">
            </dx-button>
          </div>
          <div *dxTemplate="let cell of 'indexCellTemplate'">
            <ng-container>
              {{cell.rowIndex + 1}}
            </ng-container>
          </div>
        </dxi-column>

        <dxi-column dataField="name" caption="Vai trò"
                    [minWidth]="200">
        </dxi-column>

        <dxi-column caption="Thao tác"
                    type="'buttons'"
                    alignment="center"
                    [fixed]="true"
                    fixedPosition="right"
                    [width]="80"
                    [allowFiltering]="false"
                    [allowSorting]="false"
                    [allowResizing]="false"
                    [allowEditing]="false"
                    cellTemplate="actionsCellTemplate">
          <div *dxTemplate="let cell of 'actionsCellTemplate'">
            <div class="action-inline text-center">
              <i class="fas fa-pencil-alt" title="Sửa"
                 (click)="onShowEditingPopup(cell.data)"></i>
              <i class="far fa-trash-alt" title="Xóa"
                 (click)="openDeletingConfirmPopup(cell.data, $event)"></i>
            </div>
          </div>
        </dxi-column>
      </dx-data-grid>
    </div>
    <div class="col-lg-6">
      <dx-data-grid
        class="settings-grid"
        keyExpr="id"
        [class.loading]="!accessControlDataSource.isLoaded()"
        [dataSource]="accessControlDataSource"
        [showRowLines]="true"
        [showColumnLines]="true"
        [showBorders]="true"
        [hoverStateEnabled]="true"
        [columnResizingMode]="'widget'"
        [allowColumnResizing]="true"
        [rowAlternationEnabled]="true">
        <dxo-filter-row [visible]="true" [showOperationChooser]="true"></dxo-filter-row>
        <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true"></dxo-remote-operations>
        <dxo-paging [pageSize]="pageSize"></dxo-paging>
        <dxo-pager [showInfo]="true"
                   [showPageSizeSelector]="false"
                   [visible]="true"
                   [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-editing mode="form">
          <dxo-texts saveRowChanges="Save"
                     editRow="Edit"
                     deleteRow="Delete"
                     cancelRowChanges="Cancel">
          </dxo-texts>
        </dxo-editing>
        <dxo-load-panel [showPane]="false"></dxo-load-panel>

        <dxi-column caption="STT"
                    alignment="center"
                    [allowFiltering]="false"
                    [allowEditing]="false"
                    [allowSorting]="false"
                    [allowResizing]="false"
                    [formItem]="{visible: false}"
                    [width]="80"
                    [fixed]="true"
                    headerCellTemplate="indexHeaderCellTemplate"
                    cellTemplate="indexCellTemplate">
          <div *dxTemplate="let row of 'indexHeaderCellTemplate'">
            <dx-button type="default" icon="plus" class="btn-add-row-circle"
                       [stylingMode]="'outlined'"
                       hint="Add Row"
                       (onClick)="onShowEditingAccessControlPopup(row.data)">
            </dx-button>
          </div>
          <div *dxTemplate="let cell of 'indexCellTemplate'">
            <ng-container>
              {{cell.rowIndex + 1}}
            </ng-container>
          </div>
        </dxi-column>

        <dxi-column dataField="name" caption="Quyền"
                    [minWidth]="200">
        </dxi-column>

        <dxi-column caption="Thao tác"
                    type="'buttons'"
                    alignment="center"
                    [fixed]="true"
                    fixedPosition="right"
                    [width]="80"
                    [allowFiltering]="false"
                    [allowSorting]="false"
                    [allowResizing]="false"
                    [allowEditing]="false"
                    cellTemplate="actionsCellTemplate">
          <div *dxTemplate="let cell of 'actionsCellTemplate'">
            <div class="action-inline text-center">
              <i class="fas fa-pencil-alt" title="Sửa"
                 (click)="onShowEditingAccessControlPopup(cell.data)"></i>
              <i class="far fa-trash-alt" title="Xóa"
                 (click)="openDeletingAccessControlConfirmPopup(cell.data, $event)"></i>
            </div>
          </div>
        </dxi-column>
      </dx-data-grid>
    </div>
  </div>
</ng-container>

<app-popover-confirm-box #deletingConfirmBox
                         [message]="GENERAL_MESSAGE.DeleteRecordConfirmQuestion.format('Vai trò', selectedRole.name)"
                         (onConfirm)="onDelete()">
</app-popover-confirm-box>

<app-popover-confirm-box #deletingAccessControlConfirmBox
                         [message]="GENERAL_MESSAGE.DeleteRecordConfirmQuestion.format('Quyền', selectedAccessControl.name)"
                         (onConfirm)="onDeleteAccessControl()">
</app-popover-confirm-box>

<app-popup-container *ngIf="isShowEditingPopup"
                     [title]="!selectedRole.id ? 'Tạo mới vai trò' : 'Cập nhật vai trò'"
                     [width]="550"
                     [height]="'100%'"
                     [position]="'right'"
                     [(visible)]="isShowEditingPopup">
  <app-role-edit [(visible)]="isShowEditingPopup"
                 [selectedRole]="selectedRole"
                 [accessControls]="accessControls"
                 [accessControlsOfRole]="accessControlsOfRole"
                 [isProcessing]="isProcessing"
                 (onEditingLocationChange)="onSave($event)">
  </app-role-edit>
</app-popup-container>

<app-popup-container *ngIf="isShowEditingAccessControlPopup"
                     [title]="!selectedAccessControl.id ? 'Tạo mới quyền' : 'Cập nhật quyền'"
                     [width]="550"
                     [height]="'100%'"
                     [position]="'right'"
                     [(visible)]="isShowEditingAccessControlPopup">
  <app-access-control-edit [(visible)]="isShowEditingAccessControlPopup"
                           [selectedAccessControl]="selectedAccessControl"
                           [isProcessing]="isProcessing"
                           (onEditingLocationChange)="onSaveAccessControl($event)">
  </app-access-control-edit>
</app-popup-container>
