<app-popup-container *ngIf="visible"
                     [title]="'Đổi mật khẩu'"
                     [width]="450"
                     [height]="'auto'"
                     [(visible)]="visible">
  <form class="change-pass-form" autocomplete="on">
    <div class="card-panel user-modal">
      <dx-validation-group #validationGroup>
        <div class="row mb-3">
          <div class="input-field col">
            <dx-text-box #oldPasswordTextBox
                         name="emailAddress" placeholder="Current Password"
                         [ngClass]="'conceal-native'"
                         [valueChangeEvent]="'keyup'"
                         [inputAttr]="{ autocomplete: 'off' }"
                         [(value)]="password.currentPass"
                         (onValueChanged)="userInputData()"
                         mode="text">
              <dx-validator>
                <dxi-validation-rule type="required"
                                     [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('Current Password')"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="row mb-3">
          <div class="input-field col">
            <dx-text-box #newPasswordTextBox
                         [ngClass]="'conceal-native'"
                         [valueChangeEvent]="'keyup'"
                         name="emailAddress" placeholder="New Password"
                         [(value)]="password.newPass" mode="text"
                         (onValueChanged)="userInputData()">
              <dx-validator>
                <dxi-validation-rule type="stringLength" [min]="6"
                                     [message]="GENERAL_MESSAGE.MustHaveAtLeastCharacter.format('New Password', '6')"></dxi-validation-rule>
                <dxi-validation-rule type="required"
                                     [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('New Password')"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="row mb-3">
          <div class="input-field col">
            <dx-text-box #confirmPasswordTextBox
                         [ngClass]="'conceal-native'"
                         [valueChangeEvent]="'keyup'"
                         name="emailAddress" placeholder="Confirm New Password"
                         [(value)]="password.confirmPass"
                         (onValueChanged)="userInputData()"
                         mode="text">
              <dx-validator>
                <dxi-validation-rule type="required"
                                     [message]="GENERAL_MESSAGE.TheFieldIsRequired.format('Confirm New Password')"></dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [min]="6"
                                     [message]="GENERAL_MESSAGE.MustHaveAtLeastCharacter.format('New Password', '6')"></dxi-validation-rule>
                <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparisonCallBack"
                                     [message]="GENERAL_MESSAGE.DoNotMatch.format('New Password', 'Confirm Password')"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-1">
            <dx-button
              [disabled]="isChanging || !isAllowChangePassword"
              width="150px"
              text="{{isChanging ? 'Changing' : 'Change'}}"
              icon="{{isChanging ? 'fas fa-spinner fa-spin' : ''}}"
              type="default"
              (onClick)="onChange()"
              [useSubmitBehavior]="false">
            </dx-button>
          </div>
        </div>
      </dx-validation-group>
    </div>
  </form>
</app-popup-container>
