.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .total {
    ::ng-deep .pie {
      height: 250px;
    }

    ::ng-deep .isLoading {
      display: none;
    }
  }

  .filter {

  }
}
