<dx-load-panel [visible]="true" *ngIf="isLoading" [showPane]="false"></dx-load-panel>
<dx-load-panel *ngIf="isProcessing"
               [visible]="true" [showPane]="false"
               [message]="'Processing'">
</dx-load-panel>

<div class="form-request" *ngIf="!isLoading">
  <div class="part" *ngFor="let type of officialDocumentTypes">
    <div class="part-title">{{type.value}}:</div>
    <div class="row part-content" *ngFor="let item of appliedDocuments; let i = index"
         [hidden]="item.reference.changeOfficialDocumentTypeId !== type.key">
      <div class="col-12 col-lg-6 part-child-title">{{i + 1 + '. ' + item.reference.name}}:</div>
      <div class="col-12 col-lg-6">
        <app-upload-attachments [leaguerId]="item.reference.leaguerId"
                                (onAttachmentChanged)="getAppliedDocuments()"
                                [data]="item" *ngIf="item.totalAttachments">
        </app-upload-attachments>

        <div class="d-flex align-items-center" *ngIf="!item.totalAttachments">
          <a class="upload" (click)="addAttachment(fileInput, item)">
            <i class="fas fa-paperclip"></i>
            Tải lên
          </a>
          <input #fileInput type="file" multiple="multiple" style="display: none;"
                 [accept]="ALLOWED_FILE_TYPES"
                 (change)="uploadOfficialAttachment($event, item)">
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end align-items-center">
    <dx-button class="mr-2" type="default" [text]="isProcessing ? '' : 'Công nhận'"
               icon="{{isProcessing?'fas fa-spinner fa-spin':''}}"
               (onClick)="changeOfficial()" [disabled]="isProcessing"></dx-button>
    <dx-button text="Hủy" (onClick)="cancel()"></dx-button>
  </div>
</div>
