<div class="form-request">
  <div class="part">
    <div class="part-title">Quyển hồ sơ công nhận đảng viên chính thức</div>
    <!--1-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Bản tự kiểm điểm của đảng viên dự bị:</div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
    <!--2-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Bản nhận xét về đảng viên dự bị của đảng viên chính thức được phân
        công giúp đỡ của đảng viên chính thức thứ 1:
      </div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
    <!--3-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Bản nhận xét về đảng viên dự bị của đảng viên chính thức được phân
        công giúp đỡ của đảng viên chính thức thứ 2:
      </div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
    <!--4-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Bản Tổng hợp ý kiến nhận xét của tổ chức chính trị - xã hội nơi làm
        việc và chi ủy nơi cư trú:
      </div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
    <!--5-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Nghị quyết xét, đề nghị công nhận đảng viên chính thức của chi bộ:
      </div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
    <!--6-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Báo cáo thẩm định của đảng ủy bộ phận (nếu có):</div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
    <!--7-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Nghị quyết xét, đề nghị công nhận đảng viên chính thức của đảng ủy
        cơ sở:
      </div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
  </div>
  <div class="part">
    <div class="part-title">Giấy chứng nhận học lớp bồi dưỡng đảng viên mới (bản chính):</div>
    <div class="row">
      <div class="col-12 col-lg-6">

      </div>
    </div>
  </div>
  <div class="part">
    <div class="part-title">Các loại giấy tờ khác:</div>
    <!--1-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Biên bản họp nhận xét của Công đoàn + Đoàn Thanh niên:</div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
    <!--2-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Phiếu Đảng viên:</div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
    <!--3-->
    <div class="row">
      <div class="col-12 col-lg-6 part-child-title">Biên bản họp chi bộ tháng thông qua nghị quyết kết nạp:</div>
      <div class="col-12 col-lg-6">

      </div>
    </div>
  </div>
</div>
